<%- include('partials/head') %>
<%- include('partials/navbar') %>

<div class="container px-5">

    <div class="row py-3 justify-content-between">
        <div class="col-8">
            <h1>Welcome to the <%= name %> subreddit!</h1>
            <p class="lead"><%= description %></p>
        </div>
        <div class="col-4">/r/<%= name %> has <strong><%= subscribers %></strong> total subscribers</div>
    </div>
    
    <hr>

    <% for (let post of posts) { %>
        <article>
            <p> <%= post.title %> <b> - <%= post.author %> </b> </p>
            <% if (post.img) { %>
                <img class="img-fluid rounded d-block py-3" src="<%= post.img %>" alt="">
            <% } %>
            <hr>
        </article>
    <% } %>
</div>

<%- include('partials/footer') %>